.update-controller {
   display: none;
}

* {
   transition: .5s;
   font-family: 'Indie Flower';
}

body {
   padding: 30px 30px;
   min-height: 100vh;
   background-color: #134;

}

.app {
   margin: auto;
   width: 550px;
   text-align: center;
   max-width: 100%;
}

h1 {
   font-size: 26px;
   margin: 0;
   text-align: left;
   color: white;
   position: relative;
   top: -200px;
   transition: 1s;
}

h2 {
   font-size: 22px;
   color: white;

}

#date {
   position: relative;
   left: -200px;
   transition: 1s;
}

.input-header {
   display: flex;
   height: 40px;
   justify-content: space-between;
   align-items: center;
   margin: 10px 0 25px 0;
   flex-wrap: wrap;
}

.to-do-input {
   display: flex;
   opacity: 0;
   transition: 1s;
   ;
   position: relative;
   right: -200px;

}

#item {
   padding: 10px 12px;
   border-radius: 10px 0 0 10px;
   outline: none;
   border: 1px solid #22222200;
   border-right-color: transparent;
   font-size: 16px;

}

#enter {
   border: 1px solid #ffffff;
   border-left-color: white;
   border-radius: 0 10px 10px 0;
   font-size: 16px;
   padding: 6px 10px;
   background-color: #5d5d5e4d;
   color: white;
   cursor: pointer;


}

#enter:hover {
   background-color: rgb(14, 43, 58);

}




.input-controller {
   position: relative;
   width: 100%;
}

@media (max-width:676px) {
   .input-header {
      margin-bottom: 100px;
   }


}

textarea {
   width: 100%;
   padding: 6px 20px;
   box-sizing: border-box;
   height: 50px;
   max-height: fit-content;
   resize: none;
   margin-top: 10px;
   border-radius: 8px;
   color: rgb(252, 252, 252);
   background-color: rgba(255, 255, 255, 0.13);

}

.deleteBtn {
   position: absolute;
   right: 20px;
   top: 20px;
   color: white;
   font-size: 18px;
   cursor: pointer;


}

.editBtn {
   cursor: pointer;

   position: absolute;
   font-size: 18px;
   right: 50px;
   top: 20px;
   color: white;
}

.item {
   position: relative;
}

.update-controller {
   text-align: left;
}

.saveBtn, .cancelBtn {
   border: 1px solid #ffffff;
   font-size: 16px;
   padding: 6px 10px;
   border-radius: 6px;
   font-weight: bold;
   background-color: rgba(17, 51, 68, 0.397);
   color: white;
   cursor: pointer;
}

button {
   padding: 0.8em 1.8em;
   border: 2px solid #17C3B2;
   position: relative;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   transition: .3s;
   z-index: 1;
   font-family: inherit;
   color: #17C3B2;
}

button::before {
   content: '';
   width: 0;
   height: 400%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   background: #17C3B2;
   transition: .5s ease;
   display: block;
   z-index: -1;
}

button:hover::before {
   width: 120%;
}

button:hover {
   color: #111;
}

#date {
   border-bottom: 4px dotted white;
   transition: .3s;
}

#date:hover {
   border-bottom: 1px solid;
}